/* common-style */
* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1E90FF;
    --secondary-color: #EDB13D;
    --dark-bg: #171717;
    --light-bg: #fbfbfb;
    --primary-text: #171717;
    --secondary-text: #333;
    --descriptions: #646464;
    --secondary-text-alternative: #f6f6f6;
    --primary-text-alternative: #fff;

}

h1 {
    font-size: 64px !important;
    color: var(--primary-text-alternative);
    font-weight: 300 !important;
}

h2 {
    font-size: 48px !important;
}

h3 {
    font-size: 36px !important;
}

h4 {
    font-size: 18px !important;
}

h5 {
    font-size: 16px !important;
    font-weight: 200 !important;
}

p {
    font-size: 14px;
}

img {
    max-width: 100%;
}

.spacing-container {
    margin: 4rem 0;
}

.landing-text {
    color: var(--primary-color);
    letter-spacing: 5px;
    text-transform: uppercase;
}

.primary-button {
    background: var(--primary-color);
    color: var(--primary-text-alternative);
    border: none;
    padding: 1rem 2rem;
}

.box {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.box p {
    margin: 0;
}

/* sub-header */
.sub-header {

    background: var(--dark-bg);

}

.sub-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-alternative);
}

.subheader-menu {
    display: flex;
    font-size: 12px;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

/* main-header */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* banner */
.banner {
    background: url(images/banner.png);
    background-size: cover;
    padding: 6rem 0 8rem 0;
    color: var(--primary-text-alternative);
}

.banner h1 strong {
    display: block;
}

.banner h5 {
    margin: 2rem 0;
}

.banner p {
    line-height: 1.5rem;
}


/* contact-form */

.contact-form {
    background: var(--dark-bg);
    color: var(--primary-text-alternative);
    margin-top: -5rem !important;
    padding: 2rem !important;
}

.contact-form-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 2rem 0;
}

.contact-form-head>h4 {
    color: var(--secondary-color);
}

.contact-form-head>div>h4 {
    font-weight: 300 !important;
}

.contact-form-head>div>h4>span>img {
    width: 18px;
    margin: 0 0 4px 0;
}

.contact-form-input {
    padding: 1rem;
    width: 100%;
    background-color: var(--light-bg);
    color: var(--secondary-text);
    border: none;
    box-shadow: none;
}

/* aboutus */
.aboutus-section {
    background: url(images/aboutusbg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.aboutus-section h2,
.aboutus-section h3 {
    color: var(--primary-text);
}

.aboutus-desc {
    margin: 2rem 0;
}

.aboutus-box-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aboutus-box-section .box {
    border: 1px solid #ebebeb;
    padding: 1rem;
    margin: 2rem 0 0 0;
    width: 300px;
}

/* sku-container */

.sku-container {
    display: flex;
    gap: .5rem;
    margin: 0rem 0 -8rem 0;
}

.sku-container div {
    background: var(--secondary-text-alternative);
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}


/* services */
.service-section {
    background: url(images/services.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14rem 0 6rem 0;
}

.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem 1rem;
    align-items: center;
    color: var(--primary-text-alternative);
}

.services-container div:nth-child(1) {
    grid-column: 1 / 3;
    color: var(--primary-text-alternative);
    padding: 1rem;
}

.services-container div:nth-child(1) h2 span {
    font-weight: 200;
}

.services-container div:nth-child(1) p {
    color: var(--primary-text-alternative);
}

.services-container div>img {
    width: 100%;
}

.services-container>div {
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.hover-box {
    background: #171717de;
    position: absolute !important;
    top: 100%;
    bottom: 0;
    padding: 1rem 1rem;
    transition: 500ms;
}

.services-container div:hover .hover-box {
    top: 0;
}


/* whyChooseUs */
.whyChooseUs {
    background: url(images/whyChooseUSsvg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}


.whyChooseUs .landing-text {
    color: var(--primary-text-alternative);
}

.whyChooseUs .sku-container {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.whyChooseUs .sku-container div {
    background: var(--light-bg);
    padding: 4rem 0;
}


/* testimonial */
.testimonial-div {
    text-align: center;
}

.testimonial-inner-div {
    background: url(images/testimonialbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-text-alternative);
    padding: 3rem 3rem 2rem;
}

.testimonial-div h2 {
    margin: 1rem 0 3rem 0;
}

.rating {
    margin: 2rem 0 0 0;
}

.author {
    margin: 1rem 0 !important;
    font-style: italic;
    font-weight: 400 !important;
    color: var(--descriptions);
}


/* connect-us */
.connect-us {
    background: url(images/connectbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-text);
}

.connect-us-inner {
    padding: 10rem 0;
}

.connect-form {
    background: linear-gradient(180deg, #4199FF -49%, #ffedc9e8 90%);
    padding: 7rem 3rem;

}

.connect-form-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connect-form form {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}

.connect-form form textarea {
    grid-column: 1 / 3;
    height: 100px;
}

.connect-form .contact-form-input {
    padding: 0.5rem;
}

.connect-form-head {
    color: var(--primary-text-alternative);
    font-size: 24px;
}

.connect-form-col {
    margin-top: 8rem !important;
    margin-bottom: -8rem !important;
}

.investors-div {
    text-align: left;
}

.investors-div h2 {
    margin: 0 0 3rem 0;
}

.investors-inner-div {
    background: url(images/investorbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-text-alternative);
    padding: 3rem 2rem;
}

.investors {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile h4,
.profile p {
    margin: 0;
}

.quote {
    margin: 2rem 0 0 0;
    height: 10rem;

}

/* expertized-banner */
.expertized-banner {
    background: url(images/expbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 0px;
}

.counter-div {
    display: flex;
    gap: 2rem;
}

.counter-div div {
    background-color: var(--primary-text-alternative);
    color: var(--primary-text);
    cursor: pointer;
    padding: 1rem 3rem;
}

.counter {
    font-size: 32px;
    font-weight: 600;
}

.label {
    font-size: 16px;
    font-weight: 500;
}

.counter-div div:hover {
    background-color: var(--secondary-color);
    color: var(--primary-text-alternative);
}

.exp-img-col {
    display: flex;
    align-items: center;
}





.recent-projects-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.recent-projects-inner h2 {
    margin: 0 0 2rem 0;
}

.left-side-big {
    grid-row: 1 / 3;
}

.left-side-big div {
    padding: 1rem 0;
}

.left-side-big img {
    width: 100%;
}

.right-side-small {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.right-side-small img {
    height: 100%;
}

.recent-projects-inner p {
    margin: 0 0 10px 0;
    font-weight: 500;
    color: #333;
}










footer {
    background-color: var(--primary-color);
    color: var(--primary-text-alternative);
}

.footer-left-head {
    font-weight: 500 !important;
}

.footer-container h5 {
    margin: 1.3rem 0;
    font-weight: 600;
}

.footer-container h6 {
    font-weight: 400;
}

.right-side-btn-div {
    text-align: right;
    margin: 1.3rem 0;
}

.right-side-btn-div a {
    color: var(--primary-variant);
    padding: 1.2rem;

}

.right-side-btn-div a:nth-child(1) {
    border-right: 1px solid #000;
}





.logo-des {
    padding: 0.5rem;
}

.logo-des p:nth-child(1) {
    font-size: 18px;
    font-weight: 550;
    margin: 0 0 0.7rem 0;
}

.logo-des p:nth-child(2) {
    margin: 0;
    color: #707070;
    font-size: 16px;
    font-weight: 500;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.links h5 {
    margin: 0 0 15px 0;
}

.footer-description {
    margin: 1.2rem 0;
    font-size: 13px;
}

.footer-description span {
    color: var(--primary-variant);
}

.subfooter {
    background: var(--dark-bg);
    padding: 0.5rem 0;
}

.subfooter .container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.subfooter a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width:1199px) {
    .counter-div {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .contact-form-input {
        padding: .75rem;
    }

    .primary-button {
        padding: .75rem 1rem;
        font-size: 14px;
    }
}

@media screen and (max-width:991px) {
    .whyChooseUs .sku-container div {
        padding: 3rem 1rem;
        text-align: center;
    }

    .whyChooseUs .sku-container div p {
        margin: 0.5rem 0;
    }

    .whyChooseUs {
        background-position: center;
    }

    .recent-projects-inner {
        grid-template-columns: 1fr;
        margin: 2rem 0;
    }

    .counter-div {
        justify-content: center;
        margin: 2rem 0;
    }
    .connect-us-inner {
        padding: 2rem 0;
    }
    .connect-form-col {
        margin-top: 0rem !important;
        margin-bottom: 4rem !important;
    }
    .connect-form-col {
        margin-top: 0rem !important;
        margin-bottom: 4rem !important;
    }
    .connect-form form {
        width: 100%;
    }
}